.input {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: 0;
   opacity: 0;
   width: 100%;
}

.text {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: 0;
   background: #eee;
   border-radius: 10px;
   line-height: 60px;
   pointer-events: none;
   text-align: center;
}
